:root {
  --color-soft-blue: hsl(231, 69%, 60%);
  --color-soft-red: hsl(0, 94%, 66%);
  --color-greyish-blue: hsl(229, 8%, 60%);
  --color-very-dark-blue: hsl(229, 31%, 21%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines what 1 rem is
  font-size: 50%;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
}

.disable-scroll {
  @media only screen and (max-width: 799px) {
    overflow: hidden;
  }
}

// GLOBAL STYLES

*:focus {
  outline: 3px dashed tomato;
}
